{% extends 'base.html.twig' %}

{% block title %}DateEp{% endblock %}

{% block body %}
    <h1>DateEp</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ date_ep.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ date_ep.date ? date_ep.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Lycee</th>
                <td>{{ date_ep.lycee }}</td>
            </tr>
            <tr>
                <th>Center</th>
                <td>{{ date_ep.center }}</td>
            </tr>
            <tr>
                <th>Enseigant1</th>
                <td>{{ date_ep.enseigant1 }}</td>
            </tr>
            <tr>
                <th>Enseigant2</th>
                <td>{{ date_ep.enseigant2 }}</td>
            </tr>
            <tr>
                <th>Enseigant3</th>
                <td>{{ date_ep.enseigant3 }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_date_ep_index') }}">back to list</a>

    <a href="{{ path('app_date_ep_edit', {'id': date_ep.id}) }}">edit</a>

    {{ include('date_ep/_delete_form.html.twig') }}
{% endblock %}
