{% extends 'base.html.twig' %}

{% block title %}BaremeGarcon index{% endblock %}

{% block body %}
    <h1>BaremeGarcon index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Performance</th>
                <th>Valeur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bareme_garcon in bareme_garcons %}
            <tr>
                <td>{{ bareme_garcon.id }}</td>
                <td>{{ bareme_garcon.performance }}</td>
                <td>{{ bareme_garcon.valeur }}</td>
                <td>
                    <a href="{{ path('app_bareme_garcon_show', {'id': bareme_garcon.id}) }}">show</a>
                    <a href="{{ path('app_bareme_garcon_edit', {'id': bareme_garcon.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_bareme_garcon_new') }}">Create new</a>
{% endblock %}
