{% extends 'base.html.twig' %}

{% block title %}Essai index{% endblock %}

{% block body %}
    <h1>Essai index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Num_essai</th>
                <th>Performance</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for essai in essais %}
            <tr>
                <td>{{ essai.id }}</td>
                <td>{{ essai.numEssai }}</td>
                <td>{{ essai.performance }}</td>
                <td>
                    <a href="{{ path('app_essai_show', {'id': essai.id}) }}">show</a>
                    <a href="{{ path('app_essai_edit', {'id': essai.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_essai_new') }}">Create new</a>
{% endblock %}
