{% extends 'base.html.twig' %}

{% block title %}Epreuve index{% endblock %}

{% block body %}
    <h1>Epreuve index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for epreuve in epreuves %}
            <tr>
                <td>{{ epreuve.id }}</td>
                <td>{{ epreuve.numero }}</td>
                <td>
                    <a href="{{ path('app_epreuve_show', {'id': epreuve.id}) }}">show</a>
                    <a href="{{ path('app_epreuve_edit', {'id': epreuve.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_epreuve_new') }}">Create new</a>
{% endblock %}
